<p id="notice"><%= notice %></p>

<p>
  <strong>Id type:</strong>
  <%= @guardian.id_type %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @guardian.identification %>
</p>

<p>
  <strong>Name:</strong>
  <%= @guardian.name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @guardian.last_name %>
</p>

<p>
  <strong>Second name:</strong>
  <%= @guardian.second_name %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @guardian.gender %>
</p>

<p>
  <strong>Born:</strong>
  <%= @guardian.born %>
</p>

<p>
  <strong>Address:</strong>
  <%= @guardian.address %>
</p>

<p>
  <strong>Villa:</strong>
  <%= @guardian.villa %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @guardian.zone %>
</p>

<p>
  <strong>Department:</strong>
  <%= @guardian.department %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @guardian.municipality %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @guardian.phone %>
</p>

<p>
  <strong>Cel:</strong>
  <%= @guardian.cel %>
</p>

<p>
  <strong>Email:</strong>
  <%= @guardian.email %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @guardian.relationship %>
</p>

<%= link_to 'Edit', edit_guardian_path(@guardian) %> |
<%= link_to 'Back', guardians_path %>
