<div class="breadcrumb">
  <h4 class="whitetxt">Consultar estudiante</h4>
</div>
<div class="search-field">
      <%= form_tag visitors_path, :method => 'get', class: "rounded" do %>
      <div class="row collapse">
          <div class="small-10 columns">
            <%= search_field_tag :search, params[:search], placeholder: "Buscar por identificación nombre o apellido" %>
            <label for="instituciones" class="ib">Instituciones: </label>
            <%= select_tag "instituciones", options_from_collection_for_select(@schools, "id", "name", params[:instituciones]), include_blank: "Todas" %>
          </div>
          <div class="small-2 columns">
            <%= button_tag(type: "submit", :name => nil, class: "button success postfix") do %>
                <%= fa_icon "search" %> Search
            <% end %>
          </div>
      </div>
      <% end %>
</div>

<h4 class="text-center redtxt"><%= @message %></h4>
<% if @students.count > 0 %>
<div class="results">
  <table id="global">
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Tipo de documento</th>
        <th>Curso</th>
        <th>Identificación</th>
        <th>Nacimiento</th>
        <th></th>
        <th></th>
      </tr>
    </thead>

    <tbody>
      <% @students.each do |student| %>
        <tr>
          <td><%= link_to student.name, student %><h6><%= fa_icon "map-marker" %><%= student.residency_state %></h6></td>
          <td><%= student.id_type %></td>
          <td><%= student.last_course %></td>
          <td><%= student.identification %></td>
          <td><%= student.born %> - <%= student.school.present? ? student.school.name : "no esta vinculado" %></td>
  
          <td><%= link_to edit_student_path(student) do %><%= fa_icon :pencil %><% end %></td>
          <td><%= link_to student, method: :delete, data: { confirm: 'Are you sure?' } do %><%= fa_icon :trash, class: 'redtxt' %><% end %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<% else %>
  <% if  params[:search].present?  %>
  <div data-alert class="alert-box warning round">
    <%= "No se encontraron resultados para #{params[:search]}" %>
    <a href="#" class="close">&times;</a>
  </div>
  <% end %>
<% end %>