<div class="row">
	<div class="large-12 columns"><%= simple_form_for(@student) do |f| %>
		  <%= f.error_notification %>
		  	
						<div class="row">
						  <div class="small-5 columns">
						    <%= f.label :name, class: 'inline-label inline left' do %>
								<%= fa_icon "info ls-icon" %> Nombre
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <%= f.input_field :name %>
						  </div>
						</div>
						<div class="row">
						  <div class="small-5 columns">
						    <%= f.label :pic, class: 'inline-label inline left' do %>
								<%= fa_icon "image ls-icon" %> Imagen
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <%= f.input_field :pic %>
								<% if @student.pic_url.present? %>
									<%= image_tag @student.pic_url(:thumb) %>
								<% end %>
						  </div>
						</div>
						<div class="row">
						  <div class="small-5 columns">
						    <%= f.label :id_type, class: 'inline-label inline left' do %>
								<%= fa_icon "credit-card ls-icon" %> Tipo de identificación
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <%= f.select :id_type, GeneralInfo.kids_id, prompt: "Escoger uno" %>
						  </div>
						</div>
		  	    
						<div class="row">
						  <div class="small-5 columns">
						    <%= f.label :identification, class: 'inline-label inline left' do %>
								<%= fa_icon "hashtag ls-icon" %> Identificación
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <%= f.input_field :identification %>
						  </div>
						</div>
				
						<div class="row">
						  <div class="small-5 columns">
						    <%= f.label :gender, class: 'inline-label inline left' do %>
								<%= fa_icon "venus-mars ls-icon" %> Genero
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <%= f.select :gender, GeneralInfo.gender, prompt: "Escoger un genero" %>
						  </div>
						</div>
				
		    <div class="row">
						  <div class="small-5 columns">
						    <%= f.label :last_course, class: 'inline-label inline left' do %>
								<%= fa_icon "graduation-cap ls-icon" %> Ultimo año cursado
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <%= f.input_field :last_course %>
						  </div>
						</div>
				
						<div class="row">
						  <div class="small-5 columns">
						    <%= f.label :outschool_years, class: 'inline-label inline left' do %>
								<%= fa_icon "thumbs-o-down ls-icon" %> Años desescolarizado
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <%= f.input_field :outschool_years %>
						  </div>
						</div>
		  	    
						<div class="row">
						  <div class="small-5 columns">
						    <%= f.label :born, class: 'inline-label inline left' do %>
								<%= fa_icon "child ls-icon" %> Fecha de nacimiento
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <div class="inline-select"><%= f.input_field :born, start_year: 1990 %></div>
						  </div>
						</div>
				
						<div class="row">
						  <div class="small-5 columns">
						    <%= f.label :etnic, class: 'inline-label inline left' do %>
								<%= fa_icon "group ls-icon" %> Grupo etnico
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <div class="inline-select"><%= f.input_field :etnic %></div>
						  </div>
						</div>
				
						<div class="row">
						  <div class="small-5 columns">
						    <%= f.label :born_state, required: true, class: 'inline-label inline left' do %>
								<%= fa_icon "globe ls-icon" %> Ciudad de nacimiento
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <div><%= f.select :born_state, GeneralInfo.cities, as: :grouped_select, group_method: :last, prompt: "Escoge una"  %></div>
						  </div>
						</div>
				
						<div class="row">
						  <div class="small-5 columns">
						    <%= f.label :residency_state, required: true, class: 'inline-label inline left' do %>
								<%= fa_icon "map-signs ls-icon" %> Ciudad de Residencia
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <div><%= f.select :residency_state, GeneralInfo.cities, as: :grouped_select, group_method: :last, prompt: "Escoge una"  %></div>
						  </div>
						</div>
				
		    <div class="row">
						  <div class="small-5 columns">
						    <%= f.label :villa, class: 'inline-label inline left' do %>
								<%= fa_icon "map-marker ls-icon" %> Barrio o Vereda
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <div class="inline-select"><%= f.input_field :villa  %></div>
						  </div>
						</div>
				
						<div class="row">
						  <div class="small-5 columns">
						    <%= f.label :address, class: 'inline-label inline left' do %>
								<%= fa_icon "compass ls-icon" %> Dirección
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <div ><%= f.input_field :address  %></div>
						  </div>
						</div>
				
						<div class="row">
						  <div class="small-5 columns">
						    <%= f.label :zone, class: 'inline-label inline left' do %>
								<%= fa_icon "map ls-icon" %> Estrato
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <div><%= f.select :zone, GeneralInfo.estrato, prompt: "Escoger un estrato" %></div>
						  </div>
						</div>
		  	   
		    <div class="row">
						  <div class="small-5 columns">
						    <%= f.label :displaced, class: 'inline-label inline left' do %>
								<%= fa_icon "warning ls-icon" %> Desplazado
							<% end %>
						  </div>
						  <div class="small-7 columns">
						    <div><%= f.input_field :displaced, as: :boolean  %></div>
						  </div>
			</div>
		  	
		  	<div class="row">
			<div class="small-5 columns">
				<%= f.label :drop, class: 'inline-label inline left' do %>
				<%= fa_icon "user-times ls-icon" %> Retirado
				<% end %>
			</div>
			<div class="small-7 columns">
				<%= f.input_field :drop, as: :boolean  %>
		  </div>
		</div>
		
		<div class="row">
			<div class="small-5 columns">
				<%= f.label :why, class: 'inline-label inline left' do %>
				<%= fa_icon "history ls-icon" %> Explicaciones adicionales
				<% end %>
			</div>
			<div class="small-7 columns">
				<div class="inline-select"><%= f.text_area :why  %></div>
			</div>
		</div>
		
		<div class="row">
			<div class="small-5 columns">
				<%= f.label :graduated, class: 'inline-label inline left' do %>
				<%= fa_icon "graduation-cap ls-icon" %> Graduado
				<% end %>
			</div>
			<div class="small-7 columns">
				<%= f.input_field :graduated, as: :boolean  %>
		  </div>
		</div>
		  	    
		</div>
		  	
		  <div class="form-actions text-right">
		    <%= f.button :submit, "Guardar estudiante", class: "button large success" %>
		  </div>
		<% end %></div>
</div>