<div class="breadcrumb">
  <h4 class="whitetxt">Consultar estudiante</h4>
</div>
<div class="search-field">
      <%= form_tag visitors_path, :method => 'get', class: "rounded" do %>
      <div class="row collapse">
          <div class="small-10 columns">
            <%= search_field_tag :search, params[:search], placeholder: "Buscar por identificación nombre o apellido" %>
            <label for="instituciones" class="ib">Instituciones: </label>
            <%= select_tag "instituciones", options_from_collection_for_select(@schools, "id", "name", params[:instituciones]), include_blank: "Todas" %>
          </div>
          <div class="small-2 columns">
            <%= button_tag(type: "submit", :name => nil, class: "button success postfix") do %>
                <h6><%= fa_icon "search" %> Buscar</h6>
            <% end %>
          </div>
      </div>
      <% end %>
</div>

<div class="back_link">
  <%= link_to visitors_path do %>
    <%= fa_icon "arrow-left" %> <span class="italic">Regresar</span>
  <% end %>
</div>

<div class="student-banner">
	<div class="degradado"> </div>
  <div class="pic">
    <%= image_tag "nino.jpg" %>
  </div>
  <div class="student-info">
    <!-- DONE:  -->
    <h3 class="whitetxt bold relative"><%= @student.name %></h3>
    <h5 class="italic nospace"><%= @student.the_school %></h5>
    <h6 class="subheader nospace">Curso  <%= @student.last_course %></h6>
    <h6 class="subheader nospace"><%= fa_icon "map-marker" %> <%= @student.residency_state %></h6>
  </div>
</div>


<ul class="tabs vertical" data-tab>
  <li class="tab-title active"><a href="#panel1">Datos basicos</a><span class="edit_tabs"><a href="" data-reveal-id="basicos"> <%= fa_icon "pencil" %> </a></span></li>
   <% if @student.guardian.present? %>
	  <li class="tab-title"><a href="#panel2">Acudiente</a></li>
  <% end %>
  <li class="tab-title"><a href="#panel3">Afiliación en salud</a></li>
  <li class="tab-title"><a href="#panel4">Datos escolares</a></li>
  <li class="tab-title"><a href="#panel5">Seguimiento nutricional</a></li>
</ul>

<div class="tabs-content extended-tabs">
  <div class="content active" id="panel1">
    <ul class="no-bullet equal">
      <li><span class="labeling"><%= fa_icon "credit-card ls-icon" %> Tipo de indetificación:</span> <%= @student.id_type %></li>
      <li><span class="labeling"><%= fa_icon "hashtag ls-icon" %> Indetificación </span> <%= @student.identification %></li>
	  <hr />
      <li><span class="labeling"><%= fa_icon "child ls-icon" %> Fecha de nacimiento</span> <%= @student.born %></li>
      <li><span class="labeling"><%= fa_icon "venus-mars ls-icon" %> Genero </span> <%= @student.gender %></li>
      <li><span class="labeling"><%= fa_icon "thumbs-o-down ls-icon" %> Años desescolarizado</span> <%= @student.outschool_years > 0 ? @student.outschool_years : "Ninguno" %></li>
      <hr />
      <li><span class="labeling"><%= fa_icon "globe ls-icon" %> Lugar de nacimiento</span> <%= @student.born_state %></li>
      <li><span class="labeling"><%= fa_icon "map-signs ls-icon" %> Lugar de residencia </span> <%= @student.villa %></li>
      <li><span class="labeling"><%= fa_icon "map-marker ls-icon" %> Area </span> <%= @student.zone %></li>
      <li><span class="labeling"><%= fa_icon "compass ls-icon" %> Dirección </span> <%= @student.address %></li>
      <hr />
      <li><span class="labeling"><%= fa_icon "user ls-icon" %> Tutor </span> <%= @student.guardian.present? ? @student.name : "no tiene registrado" %></li>
      <li><span class="labeling"><%= fa_icon "group ls-icon" %> Etnia </span> <%= @student.etnic %></li>
      <li><span class="labeling"><%= fa_icon "warning ls-icon" %> Desplazado </span> <%= @student.displaced? ? "SI" : "NO" %></li>
      
    </ul>
  </div> <!-- /tab 1 -->
  <% if @student.guardian.present? %>
  <div class="content" id="panel2">
      <ul class="no-bullet">
        <li><b>Nombre:</b> <%= @student.guardian.name %></li>
        <li><b>Apellido:</b> <%= @student.guardian.last_name %></li>
      </ul>
   </div> <!-- /tabs 2 -->
  <% end %>
  <div class="content" id="panel3">
    <p>This is the third panel of the basic tab example. This is the third panel of the basic tab example.</p>
  </div>
  <div class="content" id="panel4">
	<% if @student.scores.present? %>
		<ul class="no-bullet equal">
		  <li><span class="labeling"><%= fa_icon "credit-card ls-icon" %> Rendimiento academico:</span></li>
		</ul>
		<table>
			<thead>
				<tr>
					<th>Periodo</th>
					<th>Area de conocimiento</th>
					<th>Calificación</th>
				</tr>
			</thead>
			<tbody>
		<% @periods = ["", "Primer periodo", "Segundo periodo","Tercer periodo","Cuarto periodo"] %>
		<% @student.scores.each do |score| %>
		<tr>
	     <td><%= @periods[score.period.to_i] %></td>
	     <td><%= score.area %></td>
	     <td><%= score.score %></td>
		</tr>
		<% end %>
		</tbody>
		</table>
	<% end %>
  </div>
  <div class="content" id="panel5">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
</div>

<div id="basicos" class="reveal-modal nospace small radius" data-reveal aria-labelledby="Datos_basicos" aria-hidden="true" role="dialog">
  <div class="modal-header">
  	<h5 class="whitetxt nospace">Datos básicos</h5>
  </div>
  
  <div class="modal-content">
	  <% @gender = ["femenino", "masculino"] %>
  	<% @ti = ["TI", "RC"] %>
  	<%= simple_form_for(@student) do |f| %>
  	  <%= f.error_notification %>
  	
  	  <div class="form-inputs">
  	    <%= fa_icon "info ls-icon" %><%= f.input :name %>
  	    
  	    <%= fa_icon "credit-card ls-icon" %><%= f.input :id_type, collection: @ti, prompt: "Escoger uno", label: "Tipo de identificación" %>
  	    <%= fa_icon "hashtag ls-icon" %><%= f.input :identification %>
  	    <%= fa_icon "venus-mars ls-icon" %><%= f.input :gender, collection: @gender, prompt: "Escoger un genero" %>
  	    <%= fa_icon "graduation-cap ls-icon" %><%= f.input :last_course %>
  	    <%= fa_icon "thumbs-o-down ls-icon" %><%= f.input :outschool_years %>
  	    
  	    <%= fa_icon "child ls-icon" %><%= f.input :born %>
  	    <%= fa_icon "group ls-icon" %><%= f.input :etnic %>
  	    <%= fa_icon "map-marker" %><%= f.input :villa %>
  	    <%= fa_icon "globe" %><%= f.input :born_state, required: true, label: "Ciudad de nacimiento", collection: @ciudades, as: :grouped_select, group_method: :last, prompt: "Escoge una"  %>
  	    <%= fa_icon "warning ls-icon" %><%= f.input :displaced %>
  	    <%= fa_icon "map-signs ls-icon" %><%= f.input :residency_state, required: true,  label: "Ciudad de residencia", collection: @ciudades, as: :grouped_select, group_method: :last, prompt: "Escoge una"  %>
  	    <%= fa_icon "map ls-icon" %><%= f.input :zone %>
  	    <%= fa_icon "compass ls-icon" %><%= f.input :address %>
  	    <%= fa_icon "user ls-icon" %><%= f.association :guardian %>
  	    <%= fa_icon "building-o ls-icon" %><%= f.association :school %>
  	  </div>
  	
  	  <div class="form-actions">
  	    <%= f.button :submit %>
  	  </div>
  	<% end %>
  	</div>
  
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<%# link_to 'Edit', edit_student_path(@student) %>
