<% @gender = ["Femenino", "Masculino"] %>
<% @ti = {"Tarjeta de identidad" => "TI", "Cedula de Ciudadania" => "CC", "Cedula de extranjeria" => "CE" , "Otro" => "Otro"} %>
<% @estrato = {"Estrato 1" => "1", "Estrato 2" => "2", "Estrato 3" => "3" , "Estrato 4" => "4"} %>
<div class="breadcrumb">
  <h4 class="whitetxt">Consultar estudiante</h4>
</div>
<div class="search-field">
      <%= form_tag visitors_path, :method => 'get', class: "rounded" do %>
      <div class="row collapse">
          <div class="small-10 columns">
            <%= search_field_tag :search, params[:search], placeholder: "Buscar por identificación nombre o apellido" %>
            <label for="instituciones" class="ib">Instituciones: </label>
            <%= select_tag "instituciones", options_from_collection_for_select(@schools, "id", "name", params[:instituciones]), include_blank: "Todas" %>
          </div>
          <div class="small-2 columns">
            <%= button_tag(type: "submit", :name => nil, class: "button success postfix") do %>
                <h6><%= fa_icon "search" %> Buscar</h6>
            <% end %>
          </div>
      </div>
      <% end %>
</div>

<div class="back_link">
  <%= link_to visitors_path do %>
    <%= fa_icon "arrow-left" %> <span class="italic">Regresar</span>
  <% end %>
</div>

<div class="student-banner">
	<div class="degradado"> </div>
  <div class="pic">
    <%= image_tag "nino.jpg" %>
  </div>
  <div class="student-info">
    <!-- DONE:  -->
    <h3 class="whitetxt bold relative"><%= @student.name %></h3>
    <h5 class="italic nospace"><%= @student.the_school %></h5>
    <h6 class="subheader nospace">Curso  <%= @student.last_course %></h6>
    <h6 class="subheader nospace"><%= fa_icon "map-marker" %> <%= @student.residency_state %></h6>
  </div>
</div>


<ul class="tabs vertical" data-tab>
  <li class="tab-title active"><a href="#panel1">Datos basicos</a><span class="edit_tabs"><a href="" data-reveal-id="basicos"> <%= fa_icon "pencil" %> </a></span></li>
  <li class="tab-title"><a href="#panel2">Acudiente</a><span class="edit_tabs"><a href="" data-reveal-id="acudiente"> <%= fa_icon "pencil" %> </a></span></li>
  <li class="tab-title"><a href="#panel3">Afiliación en salud</a><span class="edit_tabs"><a href="" data-reveal-id="health_care"> <%= fa_icon "pencil" %> </a></span></li>
  <li class="tab-title"><a href="#panel4">Datos escolares</a></li>
  <li class="tab-title"><a href="#panel5">Seguimiento nutricional</a></li>
</ul>

<div class="tabs-content extended-tabs">
  <div class="content active" id="panel1">
    <ul class="no-bullet equal">
      <li><span class="labeling"><%= fa_icon "credit-card ls-icon" %> Tipo de indetificación:</span> <%= @student.id_type %></li>
      <li><span class="labeling"><%= fa_icon "hashtag ls-icon" %> Indetificación </span> <%= @student.identification %></li>
	  <hr />
      <li><span class="labeling"><%= fa_icon "child ls-icon" %> Fecha de nacimiento</span> <%= @student.born %></li>
      <li><span class="labeling"><%= fa_icon "venus-mars ls-icon" %> Genero </span> <%= @student.gender %></li>
      <li><span class="labeling"><%= fa_icon "thumbs-o-down ls-icon" %> Años desescolarizado</span> <%= @student.outschool_years > 0 ? @student.outschool_years : "Ninguno" %></li>
      <hr />
      <li><span class="labeling"><%= fa_icon "globe ls-icon" %> Lugar de nacimiento</span> <%= @student.born_state %></li>
      <li><span class="labeling"><%= fa_icon "map-signs ls-icon" %> Lugar de residencia </span> <%= @student.residency_state %></li>
      <li><span class="labeling"><%= fa_icon "map-marker ls-icon" %> Barrio o Vereda </span> <%= @student.villa %></li>
      <li><span class="labeling"><%= fa_icon "list-ol ls-icon" %> Estrato Social </span> <%= @student.zone %></li>
      <li><span class="labeling"><%= fa_icon "compass ls-icon" %> Dirección </span> <%= @student.address %></li>
      <hr />
      <% if @student.guardian.nil? %> 
      	<li><span class="labeling"><%= fa_icon "shield ls-icon" %> Acudiente </span> no tiene registrado </li>
      <%else%> 
      	<li><span class="labeling"><%= fa_icon "shield ls-icon" %> Acudiente </span> <%= @student.guardian.name %></li>
      <%end%>
      <li><span class="labeling"><%= fa_icon "group ls-icon" %> Etnia </span> <%= @student.etnic %></li>
      <li><span class="labeling"><%= fa_icon "warning ls-icon" %> Desplazado </span> <%= @student.displaced? ? "Si" : "No" %></li>
      
    </ul>
  </div> <!-- /tab 1 -->
  <div class="content" id="panel2">
	  <% if @student.guardian.present? %>
      <ul class="no-bullet equal">
      	<li><span class="labeling"><%= fa_icon "credit-card ls-icon" %> Tipo de indetificación:</span> <%= @ti.key(@student.guardian.id_type) %></li>
      	<li><span class="labeling"><%= fa_icon "hashtag ls-icon" %> Indetificación </span> <%= @student.guardian.identification %></li>
        <hr />
        <li><span class="labeling"><%= fa_icon "info ls-icon" %> Nombre:</span> <%= @student.guardian.name %></li>
        <li><span class="labeling"><%= fa_icon "venus-mars ls-icon" %> Genero:</span> <%= @student.guardian.gender %></li>
		<li><span class="labeling"><%= fa_icon "heart ls-icon" %> Relación con el estudiante </span> <%= @student.guardian.relationship %></li>
		<hr />
		<li><span class="labeling"><%= fa_icon "globe ls-icon" %> Fecha de nacimiento</span> <%= @student.guardian.born %></li>
		<li><span class="labeling"><%= fa_icon "map-signs ls-icon" %> Ciudad</span> <%= @student.guardian.department %></li>
      	<li><span class="labeling"><%= fa_icon "map-marker ls-icon" %> Barrio o Vereda </span> <%= @student.guardian.villa %></li>
      	<li><span class="labeling"><%= fa_icon "compass ls-icon" %> Dirección </span> <%= @student.guardian.address %></li>
		<li><span class="labeling"><%= fa_icon "list-ol ls-icon" %> Estrato Social </span> <%= @student.guardian.zone %></li>
		<hr />
		<li><span class="labeling"><%= fa_icon "phone ls-icon" %> Teléfono</span> <%= @student.guardian.phone %></li>
      	<li><span class="labeling"><%= fa_icon "mobile ls-icon" %> Celular </span> <%= @student.guardian.cel %></li>
		<li><span class="labeling"><%= fa_icon "envelope-o ls-icon" %> Email </span> <%= @student.guardian.email %></li>
		
      </ul>
	  <% else %>
	   <p class="redtxt">No tiene un tutor legal asociado</p>
	  <% end %>
   </div> <!-- /tabs 2 -->
  <div class="content" id="panel3">
    <% if @student.health_care.present? %>
	  <ul class="no-bullet equal">
	  	<li><span class="labeling"><%= fa_icon "hospital-o ls-icon" %> Afiliado al SGSSS</span> <%= @student.health_care.affiliate? ? "Si" : "No" %></li>
		<li><span class="labeling"><%= fa_icon "plus-square ls-icon" %> Regimen</span> <%= @student.health_care.regime %></li>
		<li><span class="labeling"><%= fa_icon "medkit ls-icon" %> EPS/ARP</span> <%= @student.health_care.eps %></li>
		<li><span class="labeling"><%= fa_icon "user-md ls-icon" %> IPS</span> <%= @student.health_care.ips %></li>
		<li><span class="labeling"><%= fa_icon "hand-paper-o ls-icon" %> SISBEN</span> <%= @student.health_care.register? ? "Si" : "No"  %></li>
		<li><span class="labeling"><%= fa_icon "hashtag ls-icon" %> Ficha Nº</span> <%= @student.health_care.card %></li>
		<li><span class="labeling"><%= fa_icon "calendar ls-icon" %> Fecha de Encuesta</span> <%= @student.health_care.poll_date %></li>
		<li><span class="labeling"><%= fa_icon "star-half-o ls-icon" %> Calificación</span> <%= @student.health_care.score %></li>
		<li><span class="labeling"><%= fa_icon "wheelchair ls-icon" %> Discapacidad</span> <%= @student.health_care.inhabilites? ? "Si" : "No" %></li>
	  	<li><span class="labeling"><%= fa_icon "heartbeat ls-icon" %> Descripción de la discapacidad</span> <%= @student.health_care.inh_description %></li>
	  </ul>
	<% else %>
		<p class="redtxt">No tiene un afiliación de salud asociada</p>
	<% end %>
  </div>
  <div class="content" id="panel4">
	<% if @student.scores.present? %>
		<ul class="no-bullet equal">
		  <li><span class="labeling"><%= fa_icon "credit-card ls-icon" %> Rendimiento academico:</span></li>
		</ul>
		<table>
			<thead>
				<tr>
					<th>Periodo</th>
					<th>Area de conocimiento</th>
					<th>Calificación</th>
				</tr>
			</thead>
			<tbody>
		<% @periods = ["", "Primer periodo", "Segundo periodo","Tercer periodo","Cuarto periodo"] %>
		<% @student.scores.each do |score| %>
		<tr>
	     <td><%= @periods[score.period.to_i] %></td>
	     <td><%= score.area %></td>
	     <td><%= score.score %></td>
		</tr>
		<% end %>
		</tbody>
		</table>
	<div id="container"></div>
	<script>
	// highcharts
	var notas = {};
	notas = <%= raw @student.scores.to_json %>
	console.log(notas);
	var materias = {}
	$sale = []
	$.each(notas, function( index, value ) {
		// console.log(index,value.area);
		materias[value.area+"-"+value.period] = value.score
	});

	console.log(materias);
	
    $('#container').highcharts({
           chart: {
               type: 'areaspline',
			   backgroundColor:'transparent'
           },
           title: {
               text: 'Promedio de materias'
           },
           subtitle: {
               text: 'Primer periodo, Tercer periodo 2015'
           },
           xAxis: {
               categories: ['Primer periodo', 'Segundo periodo', 'Tercer periodo'],
			   allowDecimals: true,
               title: {
                   enabled: false
               }
           },
           yAxis: {
			   allowDecimals: true,
               title: {
                   text: 'Notas'
               },plotBands: [{ // visualize the weekend
                from: 0,
                to: 3,
                color: 'rgba(255, 17, 21, .2)'
            }]
           },
           tooltip: {
               shared: true,
               valueSuffix: '/5'
           },
           series: [{
               name: 'Matematicas',
               data: [4, 3, 2]
           }, {
               name: 'Ingles',
               data: [2, 3.4, 5]
           }, {
               name: 'Sistemas',
               data: [4.1, 5, 1]
           }, {
               name: 'Educación fisica',
               data: [4, 3, 1]
           }]
       });
	
	</script>
	<% end %> <!-- hay notas -->
  </div>
  <div class="content" id="panel5">
    <p>This is the fourth panel of the basic tab example. This is the fourth panel of the basic tab example.</p>
  </div>
</div>

<!-- MODALS -->
<div id="health_care" class="reveal-modal nospace small radius" data-reveal aria-labelledby="Datos_basicos" aria-hidden="true" role="dialog">
  <div class="modal-header">
  	<h5 class="whitetxt nospace">Afiliacion en salud</h5>
  </div>
  <div class="modal-content">
	<%= simple_form_for(@health_care) do |f| %>
	  <%= f.error_notification %>
	  
	  <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :affiliate, class: 'inline-label inline left' do %>
				<%= fa_icon "hospital-o ls-icon" %> Afiliación a salud
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div><%= f.input_field :affiliate, as: :boolean  %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :regime, class: 'inline-label inline left' do %>
				<%= fa_icon "plus-square ls-icon" %> Regimen
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :regime %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :eps, class: 'inline-label inline left' do %>
				<%= fa_icon "medkit ls-icon" %> EPS
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :eps %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :ips, class: 'inline-label inline left' do %>
				<%= fa_icon "user-md ls-icon" %> IPS
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :ips %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :register, class: 'inline-label inline left' do %>
				<%= fa_icon "hand-paper-o ls-icon" %> Registro
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :register %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :card, class: 'inline-label inline left' do %>
				<%= fa_icon "hashtag ls-icon" %> Ficha Nº
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :card %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :poll_date, class: 'inline-label inline left' do %>
				<%= fa_icon "calendar ls-icon" %> Fecha de encuesta
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div class="inline-select"><%= f.input_field :poll_date, start_year: 2015 %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :score, class: 'inline-label inline left' do %>
				<%= fa_icon "star-half-o ls-icon" %> Puntaje
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :score %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :inhabilites, class: 'inline-label inline left' do %>
				<%= fa_icon "wheelchair ls-icon" %> Discapacidad
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :inhabilites %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :inh_description, class: 'inline-label inline left' do %>
				<%= fa_icon "heartbeat ls-icon" %> Descripción
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :inh_description %>
		  </div>
		</div>
	
	  
	  <%= f.input :student_id, :as => :hidden, input_html: {value: @student.id} %>
	</div>
	<div class="form-actions">
	  <%= f.submit "Guardar afiliación", class: "button expand nospace success" %>
	</div>
   <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<div id="acudiente" class="reveal-modal nospace small radius" data-reveal aria-labelledby="Datos_basicos" aria-hidden="true" role="dialog">
  <div class="modal-header">
  	<h5 class="whitetxt nospace">Acudiente</h5>
  </div>
  <div class="modal-content">
   <%= simple_form_for(@guardian) do |f| %>
       <%= f.error_notification %>
       
      <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :name, class: 'inline-label inline left' do %>
				<%= fa_icon "info ls-icon" %> Nombre
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :name %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :id_type, class: 'inline-label inline left' do %>
				<%= fa_icon "credit-card ls-icon" %> Tipo de identificación
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.select :id_type, @ti, prompt: "Escoger uno" %>
		  </div>
		</div>
  	    
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :identification, class: 'inline-label inline left' do %>
				<%= fa_icon "hashtag ls-icon" %> Identificación
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :identification %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :gender, class: 'inline-label inline left' do %>
				<%= fa_icon "venus-mars ls-icon" %> Genero
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.select :gender, @gender, prompt: "Escoger un genero" %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :relationship, class: 'inline-label inline left' do %>
				<%= fa_icon "compass ls-icon" %> Relación
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div ><%= f.input_field :relationship %></div>
		  </div>
		</div>
       
	   <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :born, class: 'inline-label inline left' do %>
				<%= fa_icon "child ls-icon" %> Fecha de nacimiento
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div class="inline-select"><%= f.input_field :born, start_year: 1940 %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :department, required: true, class: 'inline-label inline left' do %>
				<%= fa_icon "map-signs ls-icon" %> Ciudad de Residencia
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div><%= f.select :department, @ciudades, as: :grouped_select, group_method: :last, prompt: "Escoge una"  %></div>
		  </div>
		</div>
		
  	    <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :villa, class: 'inline-label inline left' do %>
				<%= fa_icon "map-marker ls-icon" %> Barrio o Vereda
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div class="inline-select"><%= f.input_field :villa  %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :address, class: 'inline-label inline left' do %>
				<%= fa_icon "compass ls-icon" %> Dirección
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div ><%= f.input_field :address  %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :zone, class: 'inline-label inline left' do %>
				<%= fa_icon "list-ol ls-icon" %> Estrato
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div><%= f.select :zone, @estrato, prompt: "Escoger un estrato" %></div>
		  </div>
		</div>
  	   
  	   <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :phone, class: 'inline-label inline left' do %>
				<%= fa_icon "phone ls-icon" %> Teléfono
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div ><%= f.input_field :phone  %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :cel, class: 'inline-label inline left' do %>
				<%= fa_icon "mobile ls-icon" %> Celular
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div ><%= f.input_field :cel  %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :email, class: 'inline-label inline left' do %>
				<%= fa_icon "envelope-o ls-icon" %> Correo electronico
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div ><%= f.input_field :email  %></div>
		  </div>
		</div>
		
		

	   <%= f.input :student_id, :as => :hidden, input_html: {value: @student.id} %>
	</div>
	<div class="form-actions">
	  <%= f.submit "Guardar acudiente", class: "button expand nospace success" %>
	</div>
   <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="basicos" class="reveal-modal nospace small radius" data-reveal aria-labelledby="Datos_basicos" aria-hidden="true" role="dialog">
  <div class="modal-header">
  	<h5 class="whitetxt nospace">Datos básicos</h5>
  </div>
  
  <div class="modal-content">
	<% @gender = ["femenino", "masculino"] %>
  	<% @ti = {"TI"=>"Tarjeta de identidad", "RC"=>"Registro civil"} %>
  	<%= simple_form_for(@student) do |f| %>
  	  <%= f.error_notification %>
  	
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :name, class: 'inline-label inline left' do %>
				<%= fa_icon "info ls-icon" %> Nombre
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :name %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :id_type, class: 'inline-label inline left' do %>
				<%= fa_icon "credit-card ls-icon" %> Tipo de identificación
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.select :id_type, @ti, prompt: "Escoger uno" %>
		  </div>
		</div>
  	    
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :identification, class: 'inline-label inline left' do %>
				<%= fa_icon "hashtag ls-icon" %> Identificación
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :identification %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :gender, class: 'inline-label inline left' do %>
				<%= fa_icon "venus-mars ls-icon" %> Genero
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.select :gender, @gender, prompt: "Escoger un genero" %>
		  </div>
		</div>
		
  	    <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :last_course, class: 'inline-label inline left' do %>
				<%= fa_icon "graduation-cap ls-icon" %> Ultimo año cursado
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :last_course %>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :outschool_years, class: 'inline-label inline left' do %>
				<%= fa_icon "thumbs-o-down ls-icon" %> Años desescolarizado
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :outschool_years %>
		  </div>
		</div>
  	    
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :born, class: 'inline-label inline left' do %>
				<%= fa_icon "child ls-icon" %> Fecha de nacimiento
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div class="inline-select"><%= f.input_field :born, start_year: 1990 %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :etnic, class: 'inline-label inline left' do %>
				<%= fa_icon "group ls-icon" %> Grupo etnico
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div class="inline-select"><%= f.input_field :etnic %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :born_state, required: true, class: 'inline-label inline left' do %>
				<%= fa_icon "globe ls-icon" %> Ciudad de nacimiento
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div><%= f.select :born_state, @ciudades, as: :grouped_select, group_method: :last, prompt: "Escoge una"  %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :residency_state, required: true, class: 'inline-label inline left' do %>
				<%= fa_icon "map-signs ls-icon" %> Ciudad de Residencia
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div><%= f.select :residency_state, @ciudades, as: :grouped_select, group_method: :last, prompt: "Escoge una"  %></div>
		  </div>
		</div>
		
  	    <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :villa, class: 'inline-label inline left' do %>
				<%= fa_icon "map-marker ls-icon" %> Barrio o Vereda
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div class="inline-select"><%= f.input_field :villa  %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :address, class: 'inline-label inline left' do %>
				<%= fa_icon "compass ls-icon" %> Dirección
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div ><%= f.input_field :address  %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :zone, class: 'inline-label inline left' do %>
				<%= fa_icon "map ls-icon" %> Estrato
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div><%= f.select :zone, @estrato, prompt: "Escoger un estrato" %></div>
		  </div>
		</div>
  	   
  	    <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :displaced, class: 'inline-label inline left' do %>
				<%= fa_icon "warning ls-icon" %> Desplazado
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div><%= f.input_field :displaced, as: :boolean  %></div>
		  </div>
		</div>
  	    
  	    
  	</div>
  	
  	  <div class="form-actions">
  	    <%= f.button :submit, "Guardar estudiante", class: "expand nospace success" %>
  	  </div>
  	<% end %>
	<a class="close-reveal-modal" aria-label="Close">&#215;</a>
  	</div>
</div>
<!-- /MODALS -->

<%# link_to 'Edit', edit_student_path(@student) %>
