
<p>
  <strong>Name:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Id type:</strong>
  <%= @student.id_type %>
</p>

<p>
  <strong>Gender:</strong>
  <%= @student.gender %>
</p>

<p>
  <strong>Address:</strong>
  <%= @student.address %>
</p>

<p>
  <strong>Last course:</strong>
  <%= @student.last_course %>
</p>

<p>
  <strong>Outschool years:</strong>
  <%= @student.outschool_years %>
</p>

<p>
  <strong>Identification:</strong>
  <%= @student.identification %>
</p>

<p>
  <strong>Born:</strong>
  <%= @student.born %>
</p>

<p>
  <strong>Etnic:</strong>
  <%= @student.etnic %>
</p>

<p>
  <strong>Villa:</strong>
  <%= @student.villa %>
</p>

<p>
  <strong>Born state:</strong>
  <%= @student.born_state %>
</p>

<p>
  <strong>Displaced:</strong>
  <%= @student.displaced %>
</p>

<p>
  <strong>Residency state:</strong>
  <%= @student.residency_state %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @student.zone %>
</p>

<p>
  <strong>Guardian:</strong>
  <%= @student.guardian %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
