<div class="breadcrumb">
  <h4 class="whitetxt">Lista de programas</h4>
</div>
<div class="search-field">
   <br />
   <h5 class="subheader">En esta pantalla podrás asignar programas a cualquier institución o sede inscrita</h5>
</div>
<div class="back_link">
  <%= link_to programs_path do %>
    <%= fa_icon "arrow-left" %> <span class="italic">Regresar</span>
  <% end %>
</div>

<ul class="accordion" data-accordion>
  <li class="accordion-navigation">
    <a class="negro italic bold" href="#panel1a"><%= fa_icon "bullseye angle" %> Educación de Calidad</a>
	<p class="pre-info">La formación en estrategias pedagógicas es una herramienta creada para satisfacer las necesidades de padres o tutores inscritos en el prgrama, en el cual se
enseñaran herramientas útiles del día a día para la generación de ingresos con base en el emprendimiento de bajo impacto.</p>
    <div id="panel1a" class="content active">
		<ul class="accordion activities" data-accordion>
	      <% @programs_edu.each do |program| %>
		  <li class="accordion-navigation ">
			  <a href="#p1"><%= fa_icon "angle-right angle" %><%= program.name %></a>
			  <div id="p1" class="content">
				  <% program.activities.each do |activity| %>
					  <ul class="inline-list">
					  	<li><%= link_to activity.name, activity %></li>
						<li>
							<% @cnt = [] %>
							<% activity.students.each do |student| %> 
								<% if student.school.present? %>
									<% @cnt.push(student.school.name) unless @cnt.include?(student.school.name)  %>
								<% end %>
							<% end %>
							<%= @cnt.size %> Sedes
						</li>
						<li><%= activity.boss %></li>
						<li><%= activity.students.count %> Estudiantes</li>
					  </ul>
				  <% end %>
			  </div>
		  </li>
		  <% end %>
		 </ul>
    </div>
  </li>
  <li class="accordion-navigation">
    <a class="negro italic bold" href="#panel2a"><%= fa_icon "bullseye angle" %>Herramientas para la vida</a>
	<p class="pre-info">El tejido amazónico usado como un medio de generación de ingresos por medio de la manufactura y venta de telares con diseños únicos.</p>
    <div id="panel2a" class="content">
	<ul class="accordion activities" data-accordion>
      <% @programs_h.each do |program| %>
	  <li class="accordion-navigation">
		  <a href="#p1"><%= fa_icon "angle-right angle" %><%= program.name %></a>
		  <div id="p1" class="content">
			  <% program.activities.each do |activity| %>
				  <ul class="inline-list">
				  	<li><%= link_to activity.name, activity %></li>
					<li>
						<% @cnt = [] %>
						<% activity.students.each do |student| %> 
							<% if student.school.present? %>
								<% @cnt.push(student.school.name) unless @cnt.include?(student.school.name)  %>
							<% end %>
						<% end %>
						<%= @cnt.size %> Sedes
					</li>
					<li><%= activity.boss %></li>
					<li><%= activity.students.count %> Estudiantes</li>
				  </ul>
			  <% end %>
		  </div>
	  </li>
	  <% end %>
	 </ul>
    </div>
  </li>
  <li class="accordion-navigation">
    <a class="negro italic bold" href="#panel3a"><%= fa_icon "bullseye angle" %>Nutrición</a>
	<p class="pre-info">El tejido amazónico usado como un medio de generación de ingresos por medio de la manufactura y venta de telares con diseños únicos.</p>
    <div id="panel3a" class="content">
	<ul class="accordion activities" data-accordion>
      <% @programs_m.each do |program| %>
	  <li class="accordion-navigation">
		  <a href="#p1"><%= fa_icon "angle-right angle" %><%= program.name %></a>
		  <div id="p1" class="content">
			  <% program.activities.each do |activity| %>
				  <ul class="inline-list">
				  	<li><%= link_to activity.name, activity %></li>
					<li>
						<% @cnt = [] %>
						<% activity.students.each do |student| %> 
							<% if student.school.present? %>
								<% @cnt.push(student.school.name) unless @cnt.include?(student.school.name)  %>
							<% end %>
						<% end %>
						<%= @cnt.size %> Sedes
					</li>
					<li><%= activity.boss %></li>
					<li><%= activity.students.count %> Estudiantes</li>
				  </ul>
			  <% end %>
		  </div>
	  </li>
	  <% end %>
	 </ul>
    </div>
  </li>
</ul>


<%= link_to 'New Program', new_program_path %>
