<div class="authform">
  <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post, :role => 'form'}) do |f| %>
    <h3>Olvidaste tu Contrase침a</h3>
    <p>Te enviaremos un correo con la instrucci칩n para restablecer tu contrase침a</p>
    <%= devise_error_messages! %>
    <div class="form-group">
    	<div class="row">
		  <div class="small-3 columns">
		    <%= f.label :email, class: 'whitetxt inline left'%> 
		  </div>
		  <div class="small-9 columns">
		    <div ><%= f.email_field :email, :autofocus => true, class: 'form-control' %></div>
		    
		  </div>
		</div>
      
      
    </div>
     	<%= f.submit 'Restablecer Contrase침a', :class => 'boton success ' %>
	<% end %>
</div>
