<ul class="example-orbit" data-orbit>
<% @homes.each do |home| %>
<li>
  <%= image_tag home.pic_url(:large), class: "full" %>
  <div class="orbit-caption">
	  <div class="lefty"><%= raw home.paragraph %></div>
	  <div class="right-content"><%= raw home.texto %></div>		
  </div>
</li>
<% end %>
</ul>

<div class="candidato">
	<div class="candidato-title">
		<%= fa_icon "calendar home" %>
		<h2>Candidato del mes</h2>
	</div>
<div class="row">
	<div class="small-3 columns"> 
		<%= image_tag "perfil.jpg" %>
		</div>
	<div class="small-9 columns"> 
		<h3>¡Gracias Trabajador Ejemplar!</h3>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras in augue et ex vehicula gravida vitae ac quam. Morbi et tempor enim. Ut vestibulum fermentum lacus et vehicula.</p>
	</br>
		<a href="http://alla">Felicita a Ivonne</a>
		</div>
</div>