<ul class="example-orbit" data-orbit>
<% @homes.each do |home| %>
<li>
  <%= image_tag home.pic_url(:large), class: "full" %>
  <div class="orbit-caption">
	  <div class="lefty"><%= raw home.paragraph %></div>
	  <div class="right-content"><%= raw home.texto %></div>		
  </div>
</li>
<% end %>
</ul>

<div class="candidato">
	<div class="candidato-title">
		<%= fa_icon "calendar home" %>
		<h2><%= @monthly_favorite.name %></h2>
	</div>
	<div class="row">
		<div class="small-3 columns"> 
			<% if @monthly_favorite.pic_url.present? %>
				<%= image_tag @monthly_favorite.pic_url(:thumb) %>
			<% end %>
			</div>
		<div class="small-9 columns"> 
			<%= raw @monthly_favorite.texto %>
		</div>
	</div>
</div>