<div class="breadcrumb">
  <h4 class="whitetxt"><%= @school.name %></h4>
</div>
<div class="search-field">
	  <div class="no-so-big">
		  <br />
	  	  <%= form_tag establishments_path, :method => 'get', class: "rounded" do %>
	  	  <div class="row collapse">
	  	      <div class="small-10 columns">
	  	        <%= search_field_tag :search, params[:search], placeholder: "Ingrese parte del nombre de la institución" %>
	  	      </div>
	  	      <div class="small-2 columns">
	  	        <%= button_tag(type: "submit", :name => nil, class: "button success postfix") do %>
	  	            <h6><%= fa_icon "search" %> Buscar</h6>
	  	        <% end %>
	  	      </div>
	  	  </div>
	  	  <% end %>
	  </div>
</div>

<div class="back_link">
  <%= link_to establishments_path do %>
    <%= fa_icon "arrow-left" %> <span class="italic">Regresar</span>
  <% end %>
</div>

<div class="student-banner">
	<div class="degradado"> </div>
  <div class="pic">
    <%= image_tag "http://placehold.it/110x110" %>
  </div>
  <div class="student-info general-banner">
    <!-- TO-DO: esto no se ve bien porque personalizaste todos los h4 -->
	<a href="#" class="button round success several" data-reveal-id="estudiantes">Cargar Estudiantes</a> &nbsp;
	<a href="#" class="button round success several" data-reveal-id="notas">Cargar Notas</a>
    <h4 class="whitetxt"><%= @school.name %></h4>
    <h5 class="subheader nospace">Numero de estudiantes  <b><%= @school.students.count %></b></h5>
    <h5 class="subheader nospace">Calificación <b>Nivel medio</b></h5>
  </div>
</div>

<ul class="tabs vertical" data-tab>
  <li class="tab-title active"><a href="#panel1">Datos basicos</a><span class="edit_tabs"><a href="" data-reveal-id="basicos"> <%= fa_icon "pencil" %> </a></span></li>
  <li class="tab-title"><a href="#panel2">Programas de la sede</a></li>
</ul>

<div class="tabs-content extended-tabs">
  <div class="content active" id="panel1">
    <ul class="no-bullet equal">
	  <li><span class="labeling"><%= fa_icon "user-plus ls-icon" %> Numero de estudiantes: </span> <%= @school.students.count %></li>
      <li><span class="labeling"><%= fa_icon "cube ls-icon" %> Codigo:</span>  <%= @school.code %></li>
      <li><span class="labeling"><%= fa_icon "bar-chart ls-icon" %> Calificacion </span>  Nivel medio </li>
	  <hr />
      <li><span class="labeling"><%= fa_icon "compass ls-icon" %> Direccion </span> <%= @school.address %> </li>
      <li><span class="labeling"><%= fa_icon "map-marker ls-icon" %> Barrio </span> <%= @school.neighborhood %> </li>
      <li><span class="labeling"><%= fa_icon "map-signs ls-icon" %> Lugar </span> <%= @school.zone %> </li>
      <li><span class="labeling"><%= fa_icon "user ls-icon" %> Nombre del contacto </span> <%= @school.contact_name %> </li>
      <li><span class="labeling"><%= fa_icon "code-fork ls-icon" %> Cargo </span>  <%= @school.contact_position %> </li>
      <li><span class="labeling"><%= fa_icon "phone ls-icon" %> Telefono </span> <%= @school.phone %> </li>
	  <hr />
      <li><span class="labeling"><%= fa_icon "envelope-o ls-icon" %> Correo </span>  <%= @school.email %></li>
      <li><span class="labeling"><%= fa_icon "dot-circle-o ls-icon" %> Sede Principal </span>  <%= @school.headquarter? ? "Si" : "No" %> </li>
      <li><span class="labeling"><%= fa_icon "crosshairs ls-icon" %> Fundacion Presente </span> <%= @school.foundation_present? ? "Si" : "No" %> </li>
    </ul>
  </div>
  <div class="content" id="panel2">
	  <p>a implementar</p>
  </div>
</div>


<div id="estudiantes" class="reveal-modal nospace small radius" data-reveal aria-labelledby="Datos_basicos" aria-hidden="true" role="dialog">
  <div class="modal-header">
  	<h5 class="whitetxt nospace">Cargar estudiantes</h5>
  </div>
   <div class="modal-content">
	   <%= form_tag import_students_path, multipart: true do %>
	     <%= file_field_tag :file %>
	 	<%= hidden_field_tag 'school_id', @school.id %>
	     <%= submit_tag "Importar estudiantes", :class => "button small round success" %>
	   <% end %>
   </div>
</div>


<div id="notas" class="reveal-modal nospace small radius" data-reveal aria-labelledby="Datos_basicos" aria-hidden="true" role="dialog">
  <div class="modal-header">
  	<h5 class="whitetxt nospace">Cargar Notas</h5>
  </div>
   <div class="modal-content">
	   <%= form_tag import_scores_path, multipart: true do %>
	     <%= file_field_tag :file %>
	 	<%= hidden_field_tag 'school_id', @school.id %>
	     <%= submit_tag "Importar notas", :class => "button small round success" %>
	   <% end %>
   </div>
</div>

<div id="basicos" class="reveal-modal nospace small radius" data-reveal aria-labelledby="Datos_basicos" aria-hidden="true" role="dialog">
  <div class="modal-header">
  	<h5 class="whitetxt nospace">Datos básicos</h5>
  </div>
  
  <div class="modal-content">
	<%= simple_form_for(@school) do |f| %>
	  <%= f.error_notification %>
	  <div class="form-inputs">
	    <%= f.input :code %>
	    <%= f.input :name %>
	    <%= f.input :address %>
	    <%= f.input :neighborhood %>
	    <%= f.input :zone %>
	    <%= f.input :contact_name %>
	    <%= f.input :contact_position %>
	    <%= f.input :phone %>
	    <%= f.input :email %>
	    <%= f.input :headquarter %>
		<%= f.input :foundation_present %>
		<div class="hide">
		    <%= f.association :establishment, label: "Institucion a la que pertenece" %>
		</div>
	  </div>
	  <div class="form-actions">
	    <%= f.button :submit %>
	  </div>
	<% end %>
  </div>
  
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>




