<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @school.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @school.name %>
</p>

<p>
  <strong>Address:</strong>
  <%= @school.address %>
</p>

<p>
  <strong>Neighborhood:</strong>
  <%= @school.neighborhood %>
</p>

<p>
  <strong>Zone:</strong>
  <%= @school.zone %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @school.contact_name %>
</p>

<p>
  <strong>Contact position:</strong>
  <%= @school.contact_position %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @school.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @school.email %>
</p>

<p>
  <strong>Headquarter:</strong>
  <%= @school.headquarter %>
</p>

<p>
  <strong>Foundation present:</strong>
  <%= @school.foundation_present %>
</p>

<p>
  <strong>Establishment:</strong>
  <%= @school.establishment %>
</p>

<%= link_to 'Edit', edit_school_path(@school) %> |
<%= link_to 'Back', schools_path %>
