<% @periodos = {"Primer periodo" => 1, "Segundo periodo" => 2, "Tercer periodo" => 3, "Cuarto periodo" => 4, "Final" => 5} %>
<div class="breadcrumb">
  <h4 class="whitetxt"><%= @school.name %></h4>
</div>
<div class="search-field">
	  <div class="no-so-big">
		  <br />
	  	  <%= form_tag establishments_path, :method => 'get', class: "rounded" do %>
	  	  <div class="row collapse">
	  	      <div class="small-10 columns">
	  	        <%= search_field_tag :search, params[:search], placeholder: "Ingrese parte del nombre de la institución" %>
	  	      </div>
	  	      <div class="small-2 columns">
	  	        <%= button_tag(type: "submit", :name => nil, class: "button success postfix") do %>
	  	            <h6><%= fa_icon "search" %> Buscar</h6>
	  	        <% end %>
	  	      </div>
	  	  </div>
	  	  <% end %>
	  </div>
</div>

<div class="back_link">
  <%= link_to establishments_path do %>
    <%= fa_icon "arrow-left" %> <span class="italic">Regresar</span>
  <% end %>
</div>

<div class="student-banner">
	<div class="degradado"> </div>
  <div class="pic-sede">
    <%= image_tag "perfil-sede.jpg" %>
  </div>
  <div class="student-info general-banner">
    <!-- TO-DO: esto no se ve bien porque personalizaste todos los h4 -->
	<a href="#" class="button round success several" data-reveal-id="estudiantes">Cargar Estudiantes</a> &nbsp;
    <h3 class="whitetxt bold relative"><%= @school.name %></h3>
    <h6 class="subheader nospace">Numero de estudiantes  <b><%= @school.students.count %></b></h6>
    <h6 class="subheader nospace">Calificación <b>Nivel medio</b></h6>
  </div>
</div>

<ul class="tabs vertical" data-tab>
  <li class="tab-title active"><a href="#panel1">Datos basicos</a><span class="edit_tabs"><a href="" data-reveal-id="basicos"> <%= fa_icon "pencil" %> </a></span></li>
  <li class="tab-title"><a href="#panel1a">Educación en la sede</a></li>
  <li class="tab-title"><a href="#panel2a">Nutrición en la sede</a></li>
  <li class="tab-title"><a href="#panel2">Programas de la sede</a></li>
</ul>

<div class="tabs-content extended-tabs">
  <div class="content active" id="panel1">
    <ul class="no-bullet equal">
	  <li><span class="labeling"><%= fa_icon "user-plus ls-icon" %> Numero de estudiantes </span> <%= @school.students.count %></li>
      <li><span class="labeling"><%= fa_icon "cube ls-icon" %> Codigo </span>  <%= @school.code %></li>
      <li><span class="labeling"><%= fa_icon "bar-chart ls-icon" %> Calificaciones </span>  Nivel medio </li>
	  <hr />
      <li><span class="labeling"><%= fa_icon "map-signs ls-icon" %> Lugar </span> <%= @school.zone %> </li>
      <li><span class="labeling"><%= fa_icon "map-marker ls-icon" %> Barrio o Vereda </span> <%= @school.neighborhood %> </li>
      <li><span class="labeling"><%= fa_icon "compass ls-icon" %> Dirección </span> <%= @school.address %> </li>
      <li><span class="labeling"><%= fa_icon "user ls-icon" %> Nombre del contacto </span> <%= @school.contact_name %> </li>
      <li><span class="labeling"><%= fa_icon "sitemap ls-icon" %> Cargo </span>  <%= @school.contact_position %> </li>
      <li><span class="labeling"><%= fa_icon "phone ls-icon" %> Teléfono </span> <%= @school.phone %> </li>
	  <hr />
      <li><span class="labeling"><%= fa_icon "envelope-o ls-icon" %> Correo </span>  <%= @school.email %></li>
      <li><span class="labeling"><%= fa_icon "dot-circle-o ls-icon" %> Sede Principal </span>  <%= @school.headquarter? ? "Si" : "No" %> </li>
      <li><span class="labeling"><%= fa_icon "crosshairs ls-icon" %> Fundacion Presente </span> <%= @school.foundation_present? ? "Si" : "No" %> </li>
    </ul>
  </div>
  <div class="content" id="panel1a">
	<a href="#" class="button round success several" data-reveal-id="notas"><%= fa_icon "upload" %> Cargar notas</a>
	<% if @school.students.count > 0 %>
	<%
	@mas = 0
	@i = 0
	%>
	  <% @school.students.each do |student| %>
	  <% if student.scores.present? %>
		  <% student.scores.each do |score| %>
		    <% @i = @i + 1 %>
		    <% if score.year == "2015" %>
		      <% @mas = @mas+score.score.to_i %>
			<% end %>
	       <% end %>
		  <% end %>
		  
	  <% end %>
	<% end %>
	
	<div id="container"></div>
	<script>
  // Create the chart
	$(function () {
		$('#container').highcharts({
		        chart: {
		            type: 'column',
					backgroundColor:'transparent'
		        },
		        title: {
		            text: 'Promedio de educacion academica'
		        },
		        subtitle: {
		            text: 'Ultimos 3 años'
		        },
		        xAxis: {
		           categories: ['2013', '2014', '2015']
		        },
		        credits: {
		            enabled: false
		        },
	            series: [{
	                name: "Primero",
	                data: [5,3,4.5]
	            }, {
	                name: "Segundo",
	                data: [4.5,3.4,4.3]
	            }, {
	                name: "Tercero",
	                data: [4.38,3.42,4.6]
	            }, {
	                name: "Cuarto",
	                data: [4.38,3.42,4.6]
	            }, {
	                name: "Quinto",
	                data: [4.38,3.42,4.6]
	            }]
		    });
	});
	</script>
	
  </div>
  <div class="content" id="panel2a">
	  <a href="#" class="button round success several" data-reveal-id="nutricion"><%= fa_icon "upload" %> Cargar nutrición</a>
	  <% if @school.students.present? %>
	  	  <% @i = 0 %>
		  <% @results = {
		  	"Delgadez cronica" => {data: 0},
			"Delgadez" => {data: 0},
			"Normal" => {data: 0},
			"Sobrepeso" => {data: 0}
		  }
		   %>
		  <% @school.students.each do |student|  %>
			  <% if student.nutritions.present? %>
 			    <% @i = @i + 1 %>
			    <% @cuantos = student.nutritions.count - 1  %>
				<% @imc = student.nutritions[@cuantos].imc %>
				<% if @imc < 13.25 %>
					<% @results["Delgadez cronica"][:data] = @results["Delgadez cronica"][:data] + 1%>
				<% elsif @imc > 13.25 && @imc < 13.83 %>
				    <% @results["Delgadez"][:data] = @results["Delgadez"][:data] + 1%>
				<% elsif @imc > 13.83 && @imc < 17.60 %>
					<% @results["Normal"][:data] = @results["Normal"][:data] + 1 %>
				<% elsif @imc > 17.60 && @imc < 19.01 %>
					<% @results["Sobrepeso"][:data] = @results["Sobrepeso"][:data] + 1 %>	
				<% end %>
			  <% end %>
		 <% end %>
		 
   	  <div id="food" class="graph"></div>
   	  <script>
   	  $(function () {
		  var food = <%= raw @results.to_json %> 
		  console.log(food["Delgadez"].data);
   	      $('#food').highcharts({
   	          chart: {
				  backgroundColor:'transparent',
   	              plotBackgroundColor: null,
   	              plotBorderWidth: null,
   	              plotShadow: false,
   	              type: 'pie'
   	          },
   	          title: {
   	              text: 'Porcentajes de nutricion en la sede'
   	          },
   	          tooltip: {
   	              pointFormat: '{series.name}({point.y}): <b>{point.percentage:.1f}%</b>'
   	          },
   	          plotOptions: {
   	              pie: {
   	                  allowPointSelect: true,
   	                  cursor: 'pointer',
   	                  dataLabels: {
   	                      enabled: true,
   	                      format: '<b>{point.name}</b>: {point.percentage:.1f} %',
   	                      style: {
   	                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
   	                      }
   	                  }
   	              }
   	          },
   	          series: [{
   	              name: 'Brands',
   	              colorByPoint: true,
   	              data: [{
   	                  name: "Delgadez",
   	                  y: food["Delgadez"].data
   	              }, {
   	                  name: "Delgadez crónica",
   	                  y: food["Delgadez cronica"].data,
   	              }, {
   	                  name: 'Normal',
   	                  y: food["Normal"].data
   	              }, {
   	                  name: 'Sobrepeso',
   	                  y: food["Sobrepeso"].data
   	              }]
   	          }]
   	      });
   	  });
   	  </script>
		 
	  <% end %>
	  
	  
	  
  </div>
  <div class="content" id="panel2">
	  <p>a implementar</p>
  </div>
</div>


<div id="estudiantes" class="reveal-modal nospace small radius" data-reveal aria-labelledby="Datos_basicos" aria-hidden="true" role="dialog">
  <div class="modal-header">
  	<h5 class="whitetxt nospace">Cargar estudiantes</h5>
  </div>
   <div class="modal-content">
	   <%= form_tag import_students_path, multipart: true do %>
	     <%= file_field_tag :file %>
	 	<%= hidden_field_tag 'school_id', @school.id %>
	     <%= submit_tag "Importar estudiantes", :class => "button small round success" %>
	   <% end %>
   </div>
</div>


<div id="nutricion" class="reveal-modal nospace tiny radius" data-reveal aria-labelledby="notas" aria-hidden="true" role="dialog">
  <div class="modal-header">
  	<h5 class="whitetxt nospace">Cargar Nutrición</h5>
  </div>
   <div class="modal-content">
	   <%= form_tag import_nutritions_path, multipart: true do %>
 	    <div class="row collapse">
 	    	<div class="large-6 columns">
				<label for="year">Seleccione un año</label>
				<%= select_year(Date.today, start_year: 1992, end_year: 2030) %>
 			</div>
 	    	<div class="large-6 columns">
 				<label for="period">Seleccione un periodo</label>
 	    		<%= select_tag "period", options_for_select(@periodos) %>
 			</div>
 	    </div>
	    <div class="centerize">
	     <%= file_field_tag :file %>
	     <%= hidden_field_tag 'school_id', @school.id %>
		 <%= hidden_field_tag 'user_id', current_user.try(:id) %>
	    </div>
		<br />
	     <%= submit_tag "Importar datos de nutrición", :class => "button small round success right" %>
	   <% end %>
   </div>
</div>


<div id="notas" class="reveal-modal nospace tiny radius" data-reveal aria-labelledby="notas" aria-hidden="true" role="dialog">
  <div class="modal-header">
  	<h5 class="whitetxt nospace">Cargar Notas</h5>
  </div>
   <div class="modal-content">
	   <%= form_tag import_scores_path, multipart: true do %>
 	    <div class="row collapse">
 	    	<div class="large-6 columns">
				<label for="year">Seleccione un año</label>
				<%= select_year(Date.today, start_year: 1992, end_year: 2030) %>
 			</div>
 	    	<div class="large-6 columns">
 				<label for="period">Seleccione un periodo</label>
 	    		<%= select_tag "period", options_for_select(@periodos) %>
 			</div>
 	    </div>
	    <div class="centerize">
	     <%= file_field_tag :file %>
	     <%= hidden_field_tag 'school_id', @school.id %>
		 <%= hidden_field_tag 'user_id', current_user.try(:id) %>
	    </div>
		<br />
	     <%= submit_tag "Importar notas", :class => "button small round success right" %>
	   <% end %>
   </div>
</div>

<div id="basicos" class="reveal-modal nospace small radius" data-reveal aria-labelledby="Datos_basicos" aria-hidden="true" role="dialog">
  <div class="modal-header">
  	<h5 class="whitetxt nospace">Datos básicos</h5>
  </div>
  
  <div class="modal-content">
	<%= simple_form_for(@school) do |f| %>
	  <%= f.error_notification %>
	  <div class="form-inputs">
	    <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :code, class: 'inline-label inline left' do %>
				<%= fa_icon "cube ls-icon" %> Código
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :code %>
		  </div>
		</div>
	    
	     <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :name, class: 'inline-label inline left' do %>
				<%= fa_icon "info ls-icon" %> Nombre
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <%= f.input_field :name %>
		  </div>
		</div>
	    
	    <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :zone, required: true, class: 'inline-label inline left' do %>
				<%= fa_icon "map-signs ls-icon" %> Municipio
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div><%= f.select :zone, @ciudades, as: :grouped_select, group_method: :last, prompt: "Escoge una"  %></div>
		  </div>
		</div>
	    
	    <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :neighborhood, class: 'inline-label inline left' do %>
				<%= fa_icon "map-marker ls-icon" %> Barrio o Vereda
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div class="inline-select"><%= f.input_field :neighborhood  %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :address, class: 'inline-label inline left' do %>
				<%= fa_icon "compass ls-icon" %> Dirección
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div ><%= f.input_field :address  %></div>
		  </div>
		</div>
	    
	    <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :contact_name, class: 'inline-label inline left' do %>
				<%= fa_icon "user ls-icon" %> Nombre del Contacto
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div ><%= f.input_field :contact_name  %></div>
		  </div>
		</div>
	    
	    <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :contact_position, class: 'inline-label inline left' do %>
				<%= fa_icon "sitemap ls-icon" %> Cargo
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div ><%= f.input_field :contact_position  %></div>
		  </div>
		</div>
		
	    
	    <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :phone, class: 'inline-label inline left' do %>
				<%= fa_icon "phone ls-icon" %> Teléfono
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div ><%= f.input_field :phone  %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :email, class: 'inline-label inline left' do %>
				<%= fa_icon "envelope-o ls-icon" %> Correo electronico
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div ><%= f.input_field :email  %></div>
		  </div>
		</div>
	    
	    <div class="row">
		  <div class="small-5 columns">
		    <%= f.label :headquarter , class: 'inline-label inline left' do %>
				<%= fa_icon "dot-circle-o ls-icon" %> Sede Principal
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div><%= f.input_field :headquarter , as: :boolean  %></div>
		  </div>
		</div>
		
		<div class="row">
		  <div class="small-5 columns">
		    <%= f.label :foundation_present, class: 'inline-label inline left' do %>
				<%= fa_icon "crosshairs ls-icon" %> Fundación presente
			<% end %>
		  </div>
		  <div class="small-7 columns">
		    <div><%= f.input_field :foundation_present, as: :boolean  %></div>
		  </div>
		</div>
		
		<div class="hide">
		    <%= f.association :establishment, label: "Institucion a la que pertenece" %>
		</div>
	  </div>
	  
	
  	</div>
  	<div class="form-actions">
	    <%= f.button :submit, "Guardar Sede", class: "expand nospace success" %>
	  </div>
	  <% end %>
  <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>




