<%= simple_form_for(@health_care) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :affiliate %>
    <%= f.input :regime %>
    <%= f.input :eps %>
    <%= f.input :ips %>
    <%= f.input :register %>
    <%= f.input :card %>
    <%= f.input :poll_date %>
    <%= f.input :score %>
    <%= f.input :inhabilites %>
    <%= f.input :inh_description %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
