<p id="notice"><%= notice %></p>

<p>
  <strong>Affiliate:</strong>
  <%= @health_care.affiliate %>
</p>

<p>
  <strong>Regime:</strong>
  <%= @health_care.regime %>
</p>

<p>
  <strong>Eps:</strong>
  <%= @health_care.eps %>
</p>

<p>
  <strong>Ips:</strong>
  <%= @health_care.ips %>
</p>

<p>
  <strong>Register:</strong>
  <%= @health_care.register %>
</p>

<p>
  <strong>Card:</strong>
  <%= @health_care.card %>
</p>

<p>
  <strong>Poll date:</strong>
  <%= @health_care.poll_date %>
</p>

<p>
  <strong>Score:</strong>
  <%= @health_care.score %>
</p>

<p>
  <strong>Inhabilites:</strong>
  <%= @health_care.inhabilites %>
</p>

<p>
  <strong>Inh description:</strong>
  <%= @health_care.inh_description %>
</p>

<%= link_to 'Edit', edit_health_care_path(@health_care) %> |
<%= link_to 'Back', health_cares_path %>
