<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @activity.name %>
</p>

<p>
  <strong>The date:</strong>
  <%= @activity.the_date %>
</p>

<p>
  <strong>Boss:</strong>
  <%= @activity.boss %>
</p>

<p>
  <strong>Active:</strong>
  <%= @activity.active %>
</p>

<p>
  <strong>Program:</strong>
  <%= @activity.program %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
