<p id="notice"><%= notice %></p>

<h1>Listing Attendances</h1>

<table>
  <thead>
    <tr>
      <th>Identification</th>
      <th>Period</th>
      <th>Went days</th>
      <th>Skip days</th>
      <th>Reason</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @attendances.each do |attendance| %>
      <tr>
        <td><%= attendance.identification %></td>
        <td><%= attendance.period %></td>
        <td><%= attendance.went_days %></td>
        <td><%= attendance.skip_days %></td>
        <td><%= attendance.reason %></td>
        <td><%= attendance.student %></td>
        <td><%= link_to 'Show', attendance %></td>
        <td><%= link_to 'Edit', edit_attendance_path(attendance) %></td>
        <td><%= link_to 'Destroy', attendance, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Attendance', new_attendance_path %>
