<div class="inner-padding">
	<form action="/reports" method="get" class="inliner">
		<label> <span>Instituciones</span>
			<% seleccionado = params[:establishments][:establishment_id] if params[:establishments].present? && params[:establishments][:establishment_id].present? %>
			<%= select("establishments", "establishment_id", Establishment.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'Todas', selected: seleccionado || ""}) %>
		</label>
		<label> <span>Departamentos</span>
			<% dep_seleccionado = params[:departments][:cities] if params[:departments].present? && params[:departments][:cities].present? %>
			<%= select("departments", "cities", GeneralInfo.departments, {include_blank: 'Todos', selected: dep_seleccionado || ""}) %>
		</label>
		<label> <span>Curso</span>
			<% cur_seleccionado = params[:course][:course_number] if params[:course].present? && params[:course][:course_number].present? %> 
		  <%= select("course", "course_number", 1..11, {include_blank: 'Todos', selected: cur_seleccionado || ""}) %>
		</label>
		<fieldset class="fieldset ib">
			<legend>Nutrición y educación</legend>
			<label> <span>Año</span>
				<% year_seleccionado = params[:year][:year_number] if params[:year].present? && params[:year][:year_number].present? %> 
				<%= select("year", "year_number", (Time.now.year-10)..Time.now.year, {include_blank: 'Todos', selected: year_seleccionado || ""}) %>
			</label>
			<label> <span>Periodo</span>
				<% periodo_seleccionado = params[:period][:period_number] if params[:period].present? && params[:period][:period_number].present? %> 
				<%= select("period", "period_number", 1..5, {include_blank: 'Todos', selected: periodo_seleccionado || ""}) %>
			</label>
		</fieldset>
		<input type="submit" value="Consultar" class="button success right round" />
	</form>
	
	
	<br /><br />
<div class="row">
	<div class="large-6 medium-6 columns">
		<div class="text-center"><h1><%= @lost_year %></h1> de <%= @all %> perdieron el año</div>
		<br />
		<div id="gender"></div>
	</div>
	<div class="large-6 medium-6 columns">
		<br />
		<div id="edad"></div>
	</div>
</div>
<br /><br />
<div class="row">
	<div class="large-6 medium-6 columns">
		<div id="container-speed"></div><br /><br />
		<div id="food" class="graph"></div><br /><br />
		<div id="foodandeducation" class="graph"></div>
	</div>
	<div class="large-6 medium-6 columns">
		<div id="etnic"></div><br /><br />
		<div id="education"></div>
	</div>
</div>
  <!-- <% @students.each do |student| %>
    <b><%= student.name %></b> <%= student.school.name %>
	<% end %> -->
	<script>
		$(function () {
		    $('#edad').highcharts({
		        chart: {
		            type: 'pie',
		        },
		        title: {
		            text: 'Clasificación por edad'
		        },
		        plotOptions: {
		            pie: {
		                innerSize: 100,
		                depth: 45
		            }
		        },
		        series: [{
		            data: [
		                ['menores de 8 años', <%= raw @under8 %>],
		                ['8 a 12 años', <%= raw @middle %>],
		                ['mayores de 12 años', <%= raw @pluls12 %>]
		            ]
		        }]
		    });
	
		    $('#gender').highcharts({
		        chart: {
		            type: 'pie',
		        },
						// colors: [
						// 			                '#7CB5EC','#FF9EBB'
						// 			            ],
		        title: {
		            text: 'Clasificación por genero'
		        },
		        plotOptions: {
		            pie: {
										allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
		                }
		            }
		        },
		        series: [{
		            data: [
		                ['Niños', <%= raw @boys %>],
		                ['Niñas', <%= raw @girls %>]
		            ]
		        }]
		    });
				
	
		    $('#container-speed').highcharts({
		        chart: {
		            type: 'pie',
		        },
		        title: {
		            text: 'Porcentajes de desplazados, discapacitados, y retiros'
		        },
		        plotOptions: {
		            pie: {
		                innerSize: 100,
		                depth: 45,
										allowPointSelect: true,
		                cursor: 'pointer',
		                dataLabels: {
		                    enabled: true,
		                    format: '<b>{point.name}</b>: {point.percentage:.1f} %'
		                }
		            }
		        },
		        series: [{
		            data: [
		                ['Desplazados', <%= raw @displaced %>],
									  ['Discapacidad',<%= raw @disability %>],
									  ['Deserción',<%= raw @drop %>],
  									['Graduados',<%= raw @graduated %>]
		            ]
		        }]
		    });
				
				
		 // Etnias
				var etnias = <%= raw @finish_etnias.to_json %>;
				var drilldown = <%= raw @drilldown.to_json %>;
				var mytotal = <%= raw @all %>;
		    $('#etnic').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Representación Etnica y tabla de nutricion por etnias'
		        },
		        subtitle: {
		            text: 'Clic en la barra para ver la nutrición por étnia'
		        },
						xAxis: {
		            type: 'category',
		            labels: {
									formatter: function(){
									                    if (this.value.length > 10){
									                        return this.value.substr(0,10) + "..";
									                    }else{
									                         return this.value;   
									                    }                        
									                },
		                style: {
		                    fontSize: '11px'
		                }
		            }
		        },
		        legend: {
		            enabled: false
		        },
						yAxis:{
							gridLineDashStyle: "Dash"
						},
		        plotOptions: {
		            series: {
		                borderWidth: 0,
										dataLabels: {
	                    enabled: true,
	                    formatter: function () {
	                        var mychart = $('#etnic').highcharts();
	                        var pcnt = (this.y / mytotal) * 100;
	                        return Highcharts.numberFormat(pcnt) + '%';
	                    }
	                }
		            }
		        },
		        tooltip: {
		            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
		            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
		        },

		        series: [etnias],
						drilldown: drilldown
		    });
       // Education
				var education = <%= raw @finish_grades.to_json %>;
				console.log(education);
		    $('#education').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Niveles de educación'
		        },
						yAxis:{
							plotBands: [{
								from: 0,
								to: 3,
								color: 'rgba(255, 17, 21, .2)'
							}],
							title: {
								text: 'Puntaje'
							},
							gridLineDashStyle: "Dash",
							max: 5
						},
						xAxis: {
								allowDecimals: true,
								title: {
									text: 'Areas'
								},
		            type: 'category',
		            labels: {
									formatter: function(){
									                    if (this.value.length > 10){
									                        return this.value.substr(0,10) + "..";
									                    }else{
									                         return this.value;   
									                    }                        
									                },
		                style: {
		                    fontSize: '11px'
		                }
		            }
		        },
		        legend: {
		            enabled: false
		        },
		        plotOptions: {
		            series: {
		                borderWidth: 0
		            }
		        },
		        tooltip: {
		            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
		            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
		        },

		        series: [education]
		    });
				// / Education
				
				// NUTRITIONS
				
			  var food = <%= raw @results.to_json %> 
	   	      $('#food').highcharts({
							chart: {
								          backgroundColor:'transparent',
				   	              plotBackgroundColor: null,
				   	              plotBorderWidth: null,
				   	              plotShadow: false,
							            type: 'pie'
							        },
							        title: {
							            text: 'Tablas de nutrición zoom a genero'
							        },
							        subtitle: {
							            text: 'Clic en la barra para ver la diferenciación por genero'
							        },
							        xAxis: {
							            type: 'category'
							        },
							        yAxis: {
						            title: {
						                text: 'Cantidad total de nutrición'
						            }
							        },
							        legend: {
							            enabled: false
							        },
							        plotOptions: {
						            pie: {
						                innerSize: 100,
						                depth: 45,
														allowPointSelect: true,
						                cursor: 'pointer',
						                dataLabels: {
						                    enabled: true,
						                    format: '{point.percentage:.1f} %'
						                }
						            }
							        },
							        tooltip: {
							            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
							            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
							        },
	   	          series: [{
	   	              name: 'Estudiantes en ',
	   	              colorByPoint: true,
	   	              data: [{
	   	                  name: "Riesgo de delgadez",
	   	                  y: food["Riesgo de delgadez"].data,
											  drilldown: 'Riesgo de delgadez'
	   	              }, {
	   	                  name: "Delgadez",
	   	                  y: food["Delgadez"].data,
												drilldown: "Delgadez"
	   	              }, {
	   	                  name: 'Adecuado para la edad',
	   	                  y: food["Adecuado para la edad"].data,
												drilldown: "Adecuado para la edad"
	   	              }, {
	   	                  name: 'Sobrepeso',
	   	                  y: food["Sobrepeso"].data,
												drilldown: "Sobrepeso"
	   	              }, {
	   	                  name: 'Obesidad',
	   	                  y: food["Obesidad"].data,
											  drilldown: "Obesidad"
	   	              }]
	   	          }],
								drilldown: {
									series: [{
										name: 'Riesgo de delgadez',
		                id: 'Riesgo de delgadez',
		                data: [["Niñas:", food["Riesgo de delgadez"].girls], ["Niños:", food["Riesgo de delgadez"].boys]]
									},
								  {
										name: 'Delgadez',
		                id: 'Delgadez',
		                data: [["Niñas:", food["Delgadez"].girls], ["Niños:", food["Delgadez"].boys]]
								  },
								  {
										name: 'Adecuado para la edad',
		                id: 'Adecuado para la edad',
		                data: [["Niñas:", food["Adecuado para la edad"].girls], ["Niños:", food["Adecuado para la edad"].boys]]
								  },
								  {
										name: 'Sobrepeso',
		                id: 'Sobrepeso',
		                data: [["Niñas:", food["Sobrepeso"].girls], ["Niños:", food["Sobrepeso"].boys]]
								  },
								  {
										name: 'Obesidad',
		                id: 'Obesidad',
		                data: [["Niñas:", food["Obesidad"].girls], ["Niños:", food["Obesidad"].boys]]
								  }]
								}
	   	      });

				
				// / NUTRITIONS
						
				// NUTRITIONS & Education
				
			  var foodandeducation = <%= raw @results.to_json %> 
	   	      $('#foodandeducation').highcharts({
							chart: {
								          backgroundColor:'transparent',
				   	              plotBackgroundColor: null,
				   	              plotBorderWidth: null,
				   	              plotShadow: false,
							            type: 'pie'
							        },
							        title: {
							            text: 'Tablas de nutrición zoom a rendimiento academico'
							        },
							        subtitle: {
							            text: 'Clic en la barra para ver el rendimiento academico'
							        },
							        xAxis: {
							            type: 'category'
							        },
							        yAxis: {
						            title: {
						                text: 'Cantidad total de nutrición'
						            }
							        },
							        legend: {
							            enabled: false
							        },
							        plotOptions: {
						            pie: {
						                innerSize: 70,
						                depth: 45,
														allowPointSelect: true,
						                cursor: 'pointer',
						                dataLabels: {
						                    enabled: true,
						                    format: '{point.percentage:.1f} %'
						                }
						            }
							        },
							        tooltip: {
							            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
							            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y}</b><br/>'
							        },
	   	          series: [{
	   	              name: 'Estudiantes en ',
	   	              colorByPoint: true,
	   	              data: [{
	   	                  name: "Riesgo de delgadez",
	   	                  y: foodandeducation["Riesgo de delgadez"].data,
											  drilldown: 'Riesgo de delgadez'
	   	              }, {
	   	                  name: "Delgadez",
	   	                  y: foodandeducation["Delgadez"].data,
												drilldown: "Delgadez"
	   	              }, {
	   	                  name: 'Adecuado para la edad',
	   	                  y: foodandeducation["Adecuado para la edad"].data,
												drilldown: "Adecuado para la edad"
	   	              }, {
	   	                  name: 'Sobrepeso',
	   	                  y: foodandeducation["Sobrepeso"].data,
												drilldown: "Sobrepeso"
	   	              }, {
	   	                  name: 'Obesidad',
	   	                  y: foodandeducation["Obesidad"].data,
											  drilldown: "Obesidad"
	   	              }]
	   	          }],
								drilldown: {
									series: [{
										name: 'Riesgo de delgadez',
		                id: 'Riesgo de delgadez',
		                data: [["Notas satisfactorias:", foodandeducation["Riesgo de delgadez"].good], ["Notas deficientes:", foodandeducation["Riesgo de delgadez"].bad]]
									},
								  {
										name: 'Delgadez',
		                id: 'Delgadez',
		                data: [["Notas satisfactorias:", foodandeducation["Delgadez"].good], ["Notas deficientes:", foodandeducation["Delgadez"].bad]]
								  },
								  {
										name: 'Adecuado para la edad',
		                id: 'Adecuado para la edad',
		                data: [["Notas satisfactorias:", foodandeducation["Adecuado para la edad"].good], ["Notas deficientes:", foodandeducation["Adecuado para la edad"].bad]]
								  },
								  {
										name: 'Sobrepeso',
		                id: 'Sobrepeso',
		                data: [["Notas satisfactorias:", foodandeducation["Sobrepeso"].good], ["Notas deficientes:", foodandeducation["Sobrepeso"].bad]]
								  },
								  {
										name: 'Obesidad',
		                id: 'Obesidad',
		                data: [["Notas satisfactorias:", foodandeducation["Obesidad"].good], ["Notas deficientes:", foodandeducation["Obesidad"].bad]]
								  }]
								}
	   	      });

				
				// / NUTRITIONS & Education
				
				
		});
		</script>
		<br />
		<br />
		<br />
</div>