<div class="inner-padding">
	<br /><br />
	<form action="/reports" method="get" class="inliner">
		<label> <span>Instituciones</span>
			<% seleccionado = params[:establishments][:establishment_id] if params[:establishments].present? && params[:establishments][:establishment_id].present? %>
			<%= select("establishments", "establishment_id", Establishment.all.collect {|p| [ p.name, p.id ] }, {include_blank: 'Todas', selected: seleccionado || ""}) %>
		</label>
		<label> <span>Departamentos</span>
			<% dep_seleccionado = params[:departments][:cities] if params[:departments].present? && params[:departments][:cities].present? %>
			<%= select("departments", "cities", GeneralInfo.departments, {include_blank: 'Todos', selected: dep_seleccionado || ""}) %>
		</label>
		<label> <span>Curso</span>
			<% cur_seleccionado = params[:course][:course_number] if params[:course].present? && params[:course][:course_number].present? %> 
		  <%= select("course", "course_number", 1..11, {include_blank: 'Todos', selected: cur_seleccionado || ""}) %>
		</label>
		<input type="submit" value="Consultar" class="button success right round" />
	</form>
	
	
	<br /><br />
<div class="row">
	<div class="large-6 medium-6 columns">
		<div id="gender"></div>
	</div>
	<div class="large-6 medium-6 columns">
		<div id="edad"></div>
	</div>
</div>
<br /><br />
<div class="row">
	<div class="large-6 medium-6 columns">
		<div id="container-speed"></div>
	</div>
	<div class="large-6 medium-6 columns">
		<div id="etnic"></div>
	</div>
</div>
  <!-- <% @students.each do |student| %>
    <b><%= student.name %></b> <%= student.school.name %>
	<% end %> -->
	<script>
		$(function () {
		    $('#edad').highcharts({
		        chart: {
		            type: 'pie',
		        },
		        title: {
		            text: 'Clasificación por edad'
		        },
		        plotOptions: {
		            pie: {
		                innerSize: 100,
		                depth: 45
		            }
		        },
		        series: [{
		            data: [
		                ['menores de 8 años', <%= raw @under8 %>],
		                ['8 a 12 años', <%= raw @middle %>],
		                ['mayores de 12 años', <%= raw @pluls12 %>]
		            ]
		        }]
		    });
	
		    $('#gender').highcharts({
		        chart: {
		            type: 'pie',
		        },
		        title: {
		            text: 'Clasificación por genero'
		        },
		        series: [{
		            data: [
		                ['Niños', <%= raw @boys %>],
		                ['Niñas', <%= raw @girls %>]
		            ]
		        }]
		    });
				
	
		    $('#container-speed').highcharts({
		        chart: {
		            type: 'pie',
		        },
		        title: {
		            text: 'Cantidad de Desplazados'
		        },
		        plotOptions: {
		            pie: {
		                innerSize: 100,
		                depth: 45
		            }
		        },
		        series: [{
		            data: [
		                ['Desplazados', <%= raw @displaced %>],
									  ['Discapacidad',<%= raw @less %>],
									  ['Demas estudiantes',12]
		            ]
		        }]
		    });
				
				
		 // Create the chart
				var etnias = <%= raw @finish_etnias.to_json %>;
			  console.log(etnias);
		    $('#etnic').highcharts({
		        chart: {
		            type: 'column'
		        },
		        title: {
		            text: 'Etnias'
		        },
		        xAxis: {
		            type: 'category'
		        },
		        legend: {
		            enabled: false
		        },
		        plotOptions: {
		            series: {
		                borderWidth: 0,
		                dataLabels: {
		                    enabled: true,
		                    format: '{point.y:.1f}%'
		                }
		            }
		        },
		        tooltip: {
		            headerFormat: '<span style="font-size:11px">{series.name}</span><br>',
		            pointFormat: '<span style="color:{point.color}">{point.name}</span>: <b>{point.y:.2f}%</b> of total<br/>'
		        },

		        series: [etnias]
		    });
       

		});
		</script>
		<br />
		<br />
		<br />
</div>