<p id="notice"><%= notice %></p>

<h1>Listado de establecimientos</h1>

<div class="right">
  <%= form_tag establishments_path, :method => 'get' do %>
    <%= search_field_tag :search, params[:search] %>
  <% end %>
</div>

<table>
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Department</th>
      <th>State</th>
      <th>Phone</th>
      <th>Email</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @establishments.each do |establishment| %>
      <tr>
        <td><%= establishment.code %></td>
        <td><%= establishment.name %></td>
        <td><%= establishment.department %></td>
        <td><%= establishment.phone %></td>
        <td><%= establishment.email %></td>
        <td>
          <%# link_to 'Edit', edit_establishment_path(establishment) %>
          <%= link_to "#", "data-reveal-id" => "establishment-#{establishment.id}" do %>
            <%= fa_icon "pencil" %>
          <% end %>
          <div class="reveal-modal small" id="establishment-<%= establishment.id %>" data-reveal>
            <%= simple_form_for(establishment) do |f| %>
              <%= f.error_notification %>

              <div class="form-inputs">
                <%= f.input :code %>
                <%= f.input :name %>
                <%= f.input :department, required: true,  label: "Ciudad", collection: @ciudades, as: :grouped_select, group_method: :last, prompt: "Escoge una"  %>
                <%= f.input :phone %>
                <%= f.input :email %>
              </div>

              <div class="form-actions">
                <%= f.button :submit, 'Actualizar' %>
              </div>
            <% end %>
          </div>
        </td>
        <td>
          <%= link_to establishment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'redtxt' do %>
            <%= fa_icon "trash-o" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Nuevo establecimiento', new_establishment_path, "data-reveal-id" => "establishment-new", class: 'button small success' %>

<div class="reveal-modal small" id="establishment-new" data-reveal>
  <%= simple_form_for(@establishment) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :code,  label: "Código" %>
      <%= f.input :name,  label: "Nombre" %>
      <%= f.input :department, required: true,  label: "Ciudad", collection: @ciudades, as: :grouped_select, group_method: :last, prompt: "Escoge una"  %>
      <%= f.input :phone,  label: "Telefono" %>
      <%= f.input :email,  label: "Correo" %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, 'Crear' %>
    </div>
  <% end %>
</div>

<%= link_to establishments_path(format: "csv") do %>
<%= fa_icon "download" %> Descargar CSV
<% end %>


<h2>Importar establecimientos</h2>
<%= form_tag import_establishments_path, multipart: true do %>
  <%= file_field_tag :file %>
  <%= submit_tag "Importar", :class => "button small" %>
<% end %>
