<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @establishment.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @establishment.name %>
</p>

<p>
  <strong>Department:</strong>
  <%= @establishment.department %>
</p>

<p>
  <strong>State:</strong>
  <%= @establishment.state %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @establishment.phone %>
</p>

<p>
  <strong>Email:</strong>
  <%= @establishment.email %>
</p>

<%= link_to 'Edit', edit_establishment_path(@establishment) %> |
<%= link_to 'Back', establishments_path %>
