	<div class="titular">
  		<div class="outro transparent radius">
  			<div class="logo"> 
  				<%= image_tag "pies-blanco.png" %>		
  			</div>
  			
  			<div class="app-name">
  			<h3>Sistema de seguimiento y monitoreo</h3>
  			<p>En nutrición y rendimiento académico</p>
  		
  			</div>
    
  		</div>
 	</div>
 	 
  <div class="pos-bottom">
    <div class="login transparent radius">
      <br />
      <h5 class="italic whitetxt text-center">Inicio de sesión</h5>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class="inner-padding">
          <%= f.text_field :email %>
          <%= f.password_field :password %>
          <div class="text-center"><%= f.submit 'Ingresar', class: "button success round" %></div>
        </div>
        <div class="downer">
          <%= link_to "Ayuda", "#" %>
          <%= link_to "Olvidaste tu contraseña?", new_password_path(:user) %>
        </div>
      <% end %>
    </div>

<div class="waku">
  		
  			<div class="logo"> 
  				<%= image_tag "waku.png" %>		
  			</div>
  			
 	</div>