<div class="main-logout">
  <div class="outro transparent radius">
    
  </div>
  <div class="pos-bottom">
    <div class="login transparent radius">
      <br />
      <h5 class="italic whitetxt text-center">Inicio de sesión</h5>
      <%= form_for(:user, :url => session_path(:user)) do |f| %>
        <div class="inner-padding">
          <%= f.text_field :email %>
          <%= f.password_field :password %>
          <div class="text-center"><%= f.submit 'Ingresar', class: "button success round" %></div>
        </div>
        <div class="downer">
          <%= link_to "ayuda", "#" %>
          <%= link_to "Forgot your password?", new_password_path(:user) %>
        </div>
      <% end %>
    </div>
  </div>
</div>
<div class="pos-bottom2">
<h5 class="azul">hola fabianco </h5>
</div>
