<% if user_signed_in? %>
  <li><%= link_to 'Editar cuenta', users_path %></li>
  <li><%= link_to 'Establecimientos', establishments_path %></li>
  <li><%= link_to 'Sedes', schools_path %></li>
  <li><%= link_to 'Estudiantes', students_path %></li>
  <li><%= link_to 'Acudientes', guardians_path %></li>
  <% if current_user.try(:admin?) %>
    <li><%= link_to 'Usuarios', users_path %></li>
  <% end %>
  <li>
    <%= link_to destroy_user_session_path, :method=>'delete' do %>
    <%= fa_icon "sign-out" %>  Cerrar sesión
    <% end %>
  </li>
<% else %>
  <li><%= link_to 'Iniciar sesión', new_user_session_path %></li>
<% end %>
