<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Fundación pies descalzos" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise Roles" %>">
    <%= stylesheet_link_tag 'application', media: 'all' %>
		<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/s/zf/dt-1.10.10,r-2.0.0/datatables.min.css"/>
    <%# Modernizr is required for Zurb Foundation %>
    <%= javascript_include_tag 'vendor/modernizr' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://code.highcharts.com/4.2.1/highcharts-more.js"></script>
    <script src="https://code.highcharts.com/4.2.1/modules/drilldown.js"></script>
		<script type="text/javascript" src="https://cdn.datatables.net/s/zf/dt-1.10.10,r-2.0.0/datatables.min.js"></script>
    <%= csrf_meta_tags %>
  </head>
  <body class="<%= params[:controller] == 'public' || params[:controller].include?('devise') ? 'main-logout' : 'logged' %> <%= current_user.try(:role) ? 'admin' : 'no-admin' %>">
		<% if params[:controller] == 'public' || params[:controller].include?("devise")  %>  
		<messages role="messages">
			<%= render 'layouts/messages' %>
		</messages>
		  <%= yield %>
		<% else %>
		<div class="nav-menu">
			<%= render 'layouts/navigation' %>
		</div>
    <main role="main">
       <%= render 'layouts/messages' %>
       <%= yield %>
    </main>
		<% end %>
  </body>
</html>
